.containerMain{
  display:flex;
  justify-content: space-between;
}
.containerButton{
  padding: 15px;
}
.containerButton button {
  padding: 6px;
  background: #ff79c6;
  border-radius: 5px;
  border-style: none;
  color: #FFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;

}
.apresentacao div p {
  padding: 5px;
}
.apresentacao  {
  height: 100vh;
}